.buttonSubmit {
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: #78788c;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.buttonSubmit:hover {
  border: 2px solid black;
  background: black;
  color: #fff;
}
.estimationDiv {
  left: 75%;
  position: absolute;
  transform: translate(-75%);
  text-align: center;
}

.box p {
  display: inline-block;
  text-align: justify;
  margin-bottom: 0px;
}
.box select {
  background-color: grey;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 13px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
.centerDiv {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
}
.centerDiv p {
  margin-top: 8px;
}

.formControl {
  width: 300px;
}
.documentationDiv {
  left: 25%;
  position: absolute;
  transform: translate(-25%);
  text-align: center;
}
